<li> <a ng-click="showhide('inner_submenu_state')"> <i class="entypo-menu"></i><span>States</span></a> 
          	<ul id="inner_submenu_state" style="display:none;">
          		<li class="active">
          			<a ng-click="goto('Addstate')"><span>Add State</span></a>
          		</li>
          		<li class="active">
          			<a ng-click="goto('Admin')"><span>Manage State</span></a>
          		</li>
        		</ul>
          </li>

          <li class="active"> <a href="" ng-click="showhide('inner_submenu_Muni')"> <i class="entypo-menu"></i><span>Municipalty</span></a>
            <ul id="inner_submenu_Muni" style="display:none;">
              <li class="active">
                <a ng-click="goto('Addmunicipality')"><span>Add Municipalty</span></a>
              </li>
              <li class="active">
                <a  ng-click="goto('Adminmunicipality')"><span>Manage municipality</span></a>
              </li>
		        </ul>
          </li>

          <li> <a ng-click="showhide('inner_submenu_housingAss')"> <i class="entypo-menu"></i><span>Housing Association</span></a> 
          	<ul id="inner_submenu_housingAss" style="display:none;">
          		<li class="active">
          			<a ng-click="goto('AddHousingAss')"><span>Add Housing Association</span></a>
          		</li>
          		<li class="active">
          			<a ng-click="goto('HousingAssociation')"><span>Manage Housing Association</span></a>
          		</li>
		        </ul>
          </li>

          <li> <a ng-click="showhide('inner_submenu_Stud')"> <i class="entypo-menu"></i><span>Students</span></a> 
            <ul id="inner_submenu_Stud" style="display:none;">
              <li class="active">
                <a ng-click="goto('Addstudent')"><span>Add Student</span></a>
              </li>
              <li class="active">
                <a ng-click="goto('Adminstudent')"><span>Manage Student</span></a>
              </li>
            </ul>
          </li>